.user {
  background-color: var(--Dark_blue);
  border-radius: 20px;
  min-width: 250px;
  width: 250px;
  top: 10px;
  position: sticky;
}
.userHeader {
  background-color: var(--Blue);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 30px;
  height: 45vh;
}
.userHeaderImg {
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
}
.userHeaderImg img {
  width: 80px;
  border-radius: 50%;
}
.userHeaderName p {
  color: var(--Pale_Blue);
  margin-block: 40px 0px;
}
.userHeaderName h1 {
  margin-top: 10px;
  color: white;
  font-weight: 300;
  font-size: 40px;
}
.userFooter {
  padding-inline: 30px;
  height: 20vh;
  display: flex;
  align-items: center;
}
.userFooter ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.userFooter li {
  color: var(--Desaturated_blue);
  font-size: 18px;
  cursor: pointer;
  transition: 200ms;
}
.userFooterLight li:hover {
  color: black;
  transition: 200ms;
}
.userFooterDark li:hover {
  color: white;
  transition: 200ms;
}
@media screen and (max-width: 576px) {
  .user {
    width: 90vw;
    top: 0;
    position: relative;
  }
  .userHeader {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .userHeaderImg {
    width: 65px;
    height: 65px;
  }
  .userHeaderImg img {
    width: 60px;
  }
  .userHeaderName p {
    margin: 0;
  }
  .userHeaderName h1 {
    font-size: 25px;
    margin: 0;
  }
  .userFooter {
    padding: 30px;
    height: auto;
  }
  .userFooter ul {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .userFooter li {
    font-size: 20px;
  }
}
