.cardOrange {
  background-color: var(--Light_red_work);
}
.cardBlue {
  background-color: var(--Soft_blue_play);
}
.cardRed {
  background-color: var(--Light_red_study);
}
.cardGreen {
  background-color: var(--Lime_green_exercise);
}
.cardPurple {
  background-color: var(--Violet_social);
}
.cardYellow {
  background-color: var(--Soft_orange_self_care);
}
.card {
  width: 250px;
  border-radius: 20px;
}
.cardHeader {
  height: 6vh;
  overflow: hidden;
  position: relative;
}
.cardHeader img {
  position: absolute;
  top: -10px;
  right: 20px;
}
.cardBody {
  box-sizing: border-box;
  padding: 30px;
  background-color: var(--Dark_blue);
  height: 25.5vh;
  border-radius: 20px;
  transition: 200ms;
  cursor: pointer;
}
.cardBodyDark:hover {
  background-color: #34397b !important;
  transition: 200ms;
}
.cardBodyLight:hover {
  background-color: #f5f5f5 !important;
  transition: 200ms;
}
.cardBodyTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardBodyTitle p {
  margin: 0;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.cardBodyTitleImg {
  display: flex;
  align-items: center;
  height: 20px;
}
.cardBodyTitle img {
  cursor: pointer;
  transition: 200ms;
}
.cardBodyTitle .cardBodyTitleImgDark:hover img {
  filter: brightness(200%);
  transition: 200ms;
}
.cardBodyTitle .cardBodyTitleImgLight:hover img {
  filter: brightness(0%);
  transition: 200ms;
}
.cardBodyHours p:first-of-type {
  color: white;
  font-size: 50px;
  margin-block: 30px 0px;
  font-weight: 300;
}
.cardBodyHours p:last-of-type {
  color: var(--Pale_Blue);
}
@media screen and (max-width: 576px) {
  .card {
    width: 90vw;
  }
  .cardBody {
    height: auto;
  }
  .cardBodyHours {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cardBodyHours p {
    margin-block: 10px 0px !important;
  }
  .cardBodyHours p:first-of-type {
    font-size: 35px;
  }
}
